<html>
<head>
    <title>Bit & Barrel Windery Database</title>
</head>
<body>
    <h1>Bit & Barrel Windery Database</h1>
    <p>This is a demonstration project created to show students how to create a Flask app and connect it to a MySQL database.</p>
</body>
</html>