<!-- Citation for the following code: -->
<!-- Date: 12/09/2024 -->
<!-- Adapted and based on: -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#step-5---connecting-the-database -->
<!-- Source URL: https://jinja.palletsprojects.com/en/stable/templates/ -->
<!-- Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/ -->
<!-- Source URL: https://www.w3schools.com/html/html_basic.asp -->
<!-- Source URL: https://www.w3schools.com/css/default.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bit & Barrel Winery Database</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Bit & Barrel Winery Database</h1>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a href="{{ url_for('root') }}">Home Page</a>
        <a href="{{ url_for('customers') }}">Customers Page</a>
        <a href="{{ url_for('bottles') }}">Bottles Page</a>
        <a href="{{ url_for('producers') }}">Producers Page</a>
        <a href="{{ url_for('orders') }}">Orders Page</a>
        <a href="{{ url_for('bottle_orders') }}">Bottle Orders Page</a>
    </nav>

    {% block content %}
    <h2 class="text-center">Overview</h2>
    <p>Bit and Barrel Winery is a small, up-and-coming winery that is looking to improve  the efficiency at which it tracks its customers, inventory, and sales. Their sales currently total about 500 bottles of wine a month, 
    and continue to increase along with their customer base. They currently serve about 200 customers a month with a selection of 25 different wines from 5 different producers. The client seeks to benefit from a database-driven 
    system that can help give them insights regarding their recurring customers, popular inventory, and demand cycles. With the proposed system, Bit and Barrel will be able to track what kinds of wine they sell the most, which 
    customers keep coming back, what they order and how much of it, and fluctuations in demand.
    </p>
    {% endblock %}

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
