<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bit & Barrel Winery Database</title>
</head>
<body>
    <h1>Bit & Barrel Winery Database</h1>
    <nav>
        <a href="{{ url_for('root') }}">Home Page</a>
        <a href="{{ url_for('customers') }}">Customers Page</a>
        <a href="{{ url_for('bottles') }}">Bottles Page</a>
        <a href="{{ url_for('producers') }}">Producers Page</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
