<!-- Citation for the following code: -->
<!-- Date: 12/09/2024 -->
<!-- Adapted and based on: -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#step-5---connecting-the-database -->
<!-- Source URL: https://jinja.palletsprojects.com/en/stable/templates/ -->
<!-- Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/ -->
<!-- Source URL: https://www.w3schools.com/html/html_basic.asp -->
<!-- Source URL: https://www.w3schools.com/css/default.asp -->

{% extends "main.jinja" %}
{% block content %}

<!-- Used to display Orders Table -->
<h2>Orders Table</h2>
<table border="1" cellpadding="5">
    <thead>
        <tr>
        <!-- Sets name for the column based on Table attributes -->
            {% for key in orders[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <!-- Loops through orders to display data -->
    {% for order in orders %}
        <tr>
            {% for key in order.keys() %}
            <td>{{order[key]}}</td>
            {% endfor %}
            <td>
            <!-- Delete / Edit Functions -->
                <a href="{{ url_for('delete_order', order_id=order['order_id']) }}">
                    <button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this order?')">Delete</button>
                </a>
                <a href="{{ url_for('edit_order', order_id=order['order_id']) }}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Create Order Form -->
<h2>Add a new order:</h2>
<form action="{{ url_for('orders') }}" method="POST">
    <label for="customer_id">Customer:</label>
    <!-- Displays Customer name -->
    <select id="customer_id" name="customer_id" required>
        {% for customer in customers %}
            <option value="{{ customer['customer_id'] }}">{{ customer['name'] }}</option>
        {% endfor %}
    </select>
    <br><br>

    <!-- Displays bottle name -->
    <label for="bottle_id">Bottle:</label>
    <select id="bottle_id" name="bottle_id" required>
        {% for bottle in bottles %}
            <option value="{{ bottle['bottle_id'] }}">{{ bottle['bottle_name'] }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="order_total">Order Total:</label>
    <input type="number" id="order_total" name="order_total" step="0.01" required>
    <br><br>

    <button type="submit" name="add_order" class="btn btn-dark">Add Order</button>
</form>


{% endblock %}
